@charset "UTF-8";

* {
    margin: 0;

}

:root {
    --cor1: #F2F2F2;
    --cor2: #57C6F2;
    --cor3: #52B5F2;
    --cor4: #65728C;
    --cor5: #050508;
}

body {
    background-color: var(--cor4);
    font-family: sans-serif;
    color: var(--cor5);
}

.formulario {
    background-color: white;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(0, 0, 0, 0.1) 0px 8px 16px 0px;
    background-color: var(--cor2);
    margin: 0 auto;  
    margin-top: 30px;
    width: 80vh; 
}

.dados-pessoais {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dados-pessoais > input {
    width: 50%;
    height: 35px;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
    box-shadow: 1px 1px 2px #115e8478;
    text-indent: 5px;
    background-color: #f7f7f7fc;
}

.dados-pessoais > input:focus {
    outline-color: #65728C;
}

.dados-pessoais > input:hover {
    box-shadow: 1px 3px 3px #115e8478;
}

.dados-pessoais > label {
    justify-content: flex-start;
    margin-left: -40%;
    margin-bottom: 5px;
}

.termo {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;  
    justify-content: space-between;
    width: 18%;
    margin: auto;
}

.termo > select:focus {
    background-color: #52B5F2;
}

.radio {
    display:flex ; 
    flex-direction: row;
    justify-content: center;
    margin-bottom: 15px;
    font-size: 14px;
}

.radio > input {
    margin: 2px 4px;
}


.cursos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.cursos #curso {
    width: 22%;
}

.link-pag-unoeste > p {
    font-size: 15px;
    margin: 5px;
    text-align: center;
}

.dias {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;  
    justify-content: space-between;
    width: 18%;
    margin: 0 auto;
    text-align: center; 
}

#label-dia {
    font-weight: 100;
    text-align: center;
}

.area-texto {
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.botoes {
    display: flex;
    flex-direction: row;
    justify-content: center;
}