@charset "UTF-8";

* {
    margin: 0;

}

:root {
    --cor1: #F2F2F2;
    --cor2: #57C6F2;
    --cor3: #52B5F2;
    --cor4: #65728C;
    --cor5: #050508;
}

body {
    background-color: var(--cor4);
    font-family: sans-serif;
    color: var(--cor5);
}

.formulario {
    background-color: white;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(0, 0, 0, 0.1) 0px 8px 16px 0px;
    background-color: var(--cor2);
    margin: 0 auto;  
    margin-top: 30px;
    width: 100vh; 
}

.dados-pessoais {
    background-color: aliceblue;
    width:58%;
    margin: 0 auto; 
}

.dados-pessoais > input {
    display: inline;
    width: 40;
    height: 30px;
    margin-bottom: 30px;
}

.dados-pessoais > label {
    display: block;
}

.termo {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;  
    justify-content: space-between;
    width: 18%;
    margin: auto;
    background-color: ghostwhite;
}

.termo input, label {
   margin-left: 5px;
}

.cursos {
    display: flex;
    justify-content: center;
}

.dias {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;  
    justify-content: space-between;
    width: 15%;
    margin: 0 auto;
    background-color: ghostwhite;
    text-align: center; 
}

.area-texto {
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.botoes{
    display: flex;
    flex-direction: row;
    justify-content: center;
}